*{ margin: 0% ;padding: 0%;}

@import  url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

.add_doctorstyle{
    width: 100%;
    height: 400px;
    display:flow-root;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSDT1UyKZMk2-7RbwcR7FV-euXjSd9DLYPpfhufDvDd8XEMjKrR");
    color: white;font-size: 40px; width: 90; height: 100vh; 
    font-family: 'Luckiest Guy', Georgia, 'Times New Roman', Times, serif;
    padding: 60px;
}
.add_doctors{
    width: 100%;
    height: 400px;
    display:flow-root;
    color: white;font-size: 20px; width: 90; height: 100vh; 
    font-family: 'Luckiest Guy', Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
}
.topcorner{
   position:absolute;
   top:0;
   right:0;
   color: white;
  }
 .topcorner1{
   position:absolute;
   top:0;
   left:0;
   color: white;
  }
 .doc{
 	font:5px;

 }